@implements IDisposable
@inject IShoppingCartService shoppingCartService

<a href="ShoppingCart" class="btn btn-info">

    <i class="oi oi-cart"></i>&nbsp;Carrinho
    <span class="badge bg-dark">@shoppingCartItemCount</span>
</a>

@code{
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQtd)
    {
        shoppingCartItemCount = totalQtd;
        // uma forma explicita do Blazor para renderizar novamente o componente
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }
}